@model stanochki.Models.Requests

@{
    ViewBag.Title = "Оформление заказа";
}

<h2>Оформление заказа</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
    <div class="form-group">
        <h4>Фамилия: @ViewBag.client_sur</h4>
        <h4>Имя: @ViewBag.client_name</h4>
        <h4>Отчество: @ViewBag.client_middle</h4>
        <h4>Адрес: @ViewBag.client_address</h4><br />
        <h4>Станок: @ViewBag.machine</h4>
        <h4>Цена: @ViewBag.price руб.</h4>
        @* @Html.LabelFor(model => model.id_price, "id_price", htmlAttributes: new { @class = "control-label col-md-2" })*@
        <!--<div class="col-md-10">-->
            @*@Html.DropDownList("id_price", null, htmlAttributes: new { @class = "form-control" })*@
            @*@Html.ValidationMessageFor(model => model.id_price, "", new { @class = "text-danger" })*@
        <!--</div>-->
    </div>

        <!--<div class="form-group">-->
            @* @Html.LabelFor(model => model.client, "client", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <!--<div class="col-md-10">-->
                @*@Html.DropDownList("client", null, htmlAttributes: new { @class = "form-control" })*@
                @*@Html.ValidationMessageFor(model => model.client, "", new { @class = "text-danger" })*@
            <!--</div>
        </div>-->

        @*<div class="form-group">
                @Html.LabelFor(model => model.status, "status", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("status", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                </div>
            </div>*@

        @*<div class="form-group">
                @Html.LabelFor(model => model.date, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.date, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.date, "", new { @class = "text-danger" })
                </div>
            </div>*@
        <br />
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Заказать" class="btn btn-outline-primary"/>
            </div>
        </div>
    </div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
