@model IEnumerable<stanochki.Models.Offices>

@{
    ViewBag.Title = "Связаться с нами";
}

<h2 align="center">Связь с нами</h2>

<h4 align="center">
    Вы можете связаться с нами различными способами.
    </br>Есть возможность приехать к нам в офис, расположенный в вашем районе или ближайшем.
    </br>А так же вы можете позвонить нам на горячую линию и проконсультироваться.
</h4>

</br>
@if (Session["Rights"] == "worker")
{<p>
        @Html.ActionLink("Добавить Офис", "Create")
    </p>}

<table class="table">
    <tr>
        <th>
            Район
           @* @Html.DisplayNameFor(model => model.region)*@
        </th>
        <th>
            Адрес
            @*@Html.DisplayNameFor(model => model.address)*@
        </th>
        <th>
            График работы
            @*@Html.DisplayNameFor(model => model.schedule)*@
        </th>
        <th>
            Номер телефона
            @*@Html.DisplayNameFor(model => model.number)*@
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr height="50px">
            <td>
                @Html.DisplayFor(modelItem => item.region)<br />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)<br />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.schedule)<br />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.number)<br />
            </td>
            @if (Session["Rights"] == "worker")
            {
                <td>
                    @Html.ActionLink("Редактировать", "Edit", new { id = item.id_office }) |
                    @Html.ActionLink("Удалить", "Delete", new { id = item.id_office })<br />
                </td>
            }
        </tr>

    }

</table>
<script type="text/javascript" charset="utf-8"
        async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A7dbb5c49e431318acd6eb28cbb31b109d1fb91acb338515798afc428c91b9672&amp;width=100%25&amp;height=547&amp;lang=ru_RU&amp;scroll=true"></script>
